body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right !important;
  background-color: #fff;
  color: #44e6cc !important;
  font-family: "Work Sans", sans-serif;
  font-size: 9px;
}
.bg-img{
  background: url("./background.jpg") no-repeat;
  background-size: cover;
  color: #212529;
  background-position: center center;
}
.navbar-brand {
  color: #44e6cc !important;
}
.nav-items a {
  color: #44e6cc !important;
}
.nav-item a {
  color: #44e6cc !important;
}
.navbar-toggler {
  /* background-color: white !important; */
}
.page {
  width: 27%;
  font-size: 1.2rem;
  margin-left: 7rem;
  margin-top: 12%;
  text-align: left;
  margin-bottom: 10%;
}
.page1 {
  width: 100%;
  font-size: 15px;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
  padding-right: 18%;
  color: white !important;
}
.page2 {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 10%;
  padding-right: 18%;
}
.page3 {
  margin-left: 123px;
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-right: 18%;
  margin-left: 10%;

}

.d-block {
  width: 65%;
  height: auto;
  margin-left: 16%;
}
.carousel-control-prev-icon {
  background-image: url(./images/right.png) !important;

  -ms-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.carousel-control-next-icon {
  /* background-color: #44E6CC !important; */
  background-image: url(./images/right.png) !important;
}
.navbar-toggler {
  /* background-color: #44e6cc !important;
  border: 1px solid #44e6cc !important; */
}
.carousel-control-icon-control{
  position: fixed !important;
  top: 81% !important;
}

  @keyframes slidein {
    from {
      height: 0%;
    }

    to {
      height: 100%;
    }
  }
  .splitflap-display {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center;
    align-content: center;
  }

.split-flap {
    width: 15px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 4px 10px 0;
    font-size: 12px;
    /* line-height: 70px; */
    text-align: center;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 0px 0px rgb(0 0 0 / 50%);
    overflow: hidden;
    position: relative;

}

.split-flap:after {
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate3d(0, -50%, 0);
}

.split-flap:before {
  content: attr(data-letter);
  /* width: 100%; */
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  /*  transition: height 100ms linear;*/
  animation-duration: 500ms;
  animation-delay: attr(data-animation-delay);
  animation-name: slidein;
  animation-iteration-count: 6;
  overflow: hidden;
}



@media screen and (min-width: 1020px) {
  .nav-item {
    margin: 0 20px;
    vertical-align: text-top;
    text-align: left;
  }
  .nav-items {
    margin: 8px 20px 0px 20px;
    vertical-align: text-top;
  }
  .fixicon {
    display: flex;
    margin-left: 2rem;
    margin-top: 8px;
    gap: 20px;
  }
  .navbar-brand {
    margin-left: 3rem;
    margin-top: 0px;
    margin-top: -40px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-item {
    margin: 0 50px;
    vertical-align: text-top;
    text-align: left;
  }
  .nav-items {
    margin: 8px 50px 0px 50px;
    vertical-align: text-top;
  }
  .fixicon {
    display: flex;
    margin-left: 10rem;
    margin-top: 8px;
    gap: 50px;
  }
  .navbar-brand {
    margin-left: 6rem;
    margin-top: -40px;
  }
}
@media screen and (max-width: 440px) {
  .page {
    width: 80%;
  }
  .crausal {
    margin-bottom: 480px;
  }
}
@media screen and (max-width: 840px) {
  .crausal {
    margin-bottom: 420px;
  }
}
@media screen and (max-width: 991px) {
  .crausal {
    margin-bottom: 420px;
  }
  .page {
    margin: auto;
    font-size: 12px;
    width: 80%;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .bg-img {
    background-position: 73% center;
  }
  .carousel-control-icon-control{
    top: 27% !important;
  }
 
}
@media screen and (max-width: 768px) {
  .carousel-control-icon-control{
    top: 27% !important;
  }
 
}
#mobileMenu{
  display: none;
}

@media screen and (max-width: 768px) {
    
  #mobileMenu{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  #rob-desktop{
    display: none;
  }
  .dis-flex-bet{
    display: flex !important;
    font-size: 13.5px;
  }
 
}

.dis-flex-bet{
  width: 100%;
  justify-content: space-between;
  display: none;
}
.nav-link-letter-m{
  text-align: left;
  color: #44e6cc !important;
}
.nav-link-m{
  text-align: left;
  color: #44e6cc !important;
}

