body {
  padding: 0;
  margin: 0;
  color: #44e6cc;
  background-image: url(Assets/img/background/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

.main-container {
  margin: 0;
  margin-left: 2vw;
}

.nav-link {
  color: #44e6cc;
  margin: 1vw;
  display: flex;
}

.nav-link:hover {
  color: #44e6cc;
}

.icons {
  margin: 1vw;
}

.navbar-toggler {
  background-color: #44e6cc;
}
